name: "PROD Deploy"

on:
  push:
    branches:
        - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: prod
      aws-assume-role-arn: "arn:aws:iam::330207434098:role/githubactions-pipeline"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "us-east1-terraform-statefile"
      aws-lock-dynamodb-table: "us-east1-terraform-lock"

